// Import all Base Styles and Helpers
@import 'base/all';
@import 'helpers/all';

// Import Fonts
@import '../fonts/webfonts/style.css';

// Import Icons
@import '../fonts/icons/style.css';

/*
  GLOBALS
*/
body {
  font-family: $proxima-nova;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $gotham-rounded-medium;
}

input {
  &:focus {
    outline: none;
  }
}

.container {
  width: 90%;
  margin: auto;
  max-width: 1000px;
}

.margin-right-small {
  margin-right: 10px;
}

.relative {
  position: relative;
}

.desktop,
.desktop-flex {
  display: none;
}

@media (min-width: 992px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
  .desktop-flex {
    display: flex;
  }
}
